* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: "Poppins", sans-serif;
}

#avatar:hover {
  cursor: pointer;
}

.pic {
  margin-right: 30px;
}

.MultiCarousel {
  margin-left: 16px;
  /* float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative; */
}
/* .MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
} */

.MultiCarousel-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  /* background: #f1f1f1; */
  color: #ffffff;
}
/* .MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #0c0c0c;
} */

.text-border {
  width: 200px;
  font-size: 16px;
  text-wrap: wrap;
  font-weight: 600;
  margin-top: 4px;
  margin-inline-start: 3px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 140px;
}

.pagination a {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
}

#suggestionsList {
  list-style: none;
  display: none;
  padding: 0;
  margin-right: 67px;
  position: absolute;
  z-index: 1;
  width: 50%;
  top: 8.5%;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

#suggestionsList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#suggestionsList li:hover {
  background-color: #d3d3d3;
}

.rounded-bottom {
  border-radius: 0 0 30px 30px; /* Bán kính bo tròn cho góc dưới */
}
