* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: "Poppins", sans-serif;
}

#avatar:hover {
  cursor: pointer;
}

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  font-size: 1.5rem;
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
  cursor: pointer;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f7cd14;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #f7cd14;
}

#ratingText {
  width: fit-content;
  margin: auto;
  text-align: center;
  color: white;
  font-family: Poppins;
  font-size: 15px;
}

#suggestionsList {
  display: none;
  list-style: none;
  padding: 0;
  margin-right: 67px;
  position: absolute;
  background: white;
  z-index: 1;
  width: 51%;
  top: 8.5%;
  border: 1px solid #ccc;
}

#suggestionsList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#suggestionsList li:hover {
  background-color: #d3d3d3;
}

.rounded-bottom {
  border-radius: 0 0 30px 30px; /* Bán kính bo tròn cho góc dưới */
}
