body {
    margin: 0;
    padding: 0;
    background-color: #191919;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.container-form-signup {
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

span {
    align-self: center;
    color: white;
    font-size: 40px;
    height: fit-content;
}

p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 28px;
    color: #bababab8;
}

input {
    height: 45px;
    width: 60%;
    margin: 5px 0px;
    padding: 0px 5px;
    align-self: center;
    background-color: transparent;
    border: 0px;
    border-bottom: 1.5px solid #bababab8;
    font-size: 16px;
    color: white;

}

input::placeholder {
    color: white;
}

input:focus {
    color: white;
    /* Đổi màu chữ khi focus thành màu đen */
}

button {
    margin: 10px;
    height: 50px;
    width: 350px;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: 0.5px solid #bababab8;
}

.btn-signup {
    margin-top: 50px;
}

.btn-google {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-google {
    color: white;
    display: block;
    margin-top: 27px;
    width: 200px;
    font-weight: 600;
}

.question-account {
    font-size: 15px;
}

a {
    font-size: 15px;
    color: white;
}