<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-ratingpage.css') }}"
    />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body style="background-color: #111">
    <div
      class=""
      style="
        width: 100%;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.37) 60.89%,
            #111 100.15%
          ),
          url('../static/img/ratingpage/toy-story-newsletter_1200x800_0000_button-01-1.jpg'),
          lightgray 0px -27.139px / 100% 99.272%;
        max-height: 80vh;
        height: 80vh;
        background-repeat: no-repeat;
        background-size: 100% 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div
        class=""
        style="
          display: flex;
          width: 100%;
          height: max-content;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
        "
      >
        <input
          type="text"
          style="
            border-radius: 30px;
            background: #292929;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
            width: 50%;
            height: 50px;
            padding: 0 20px 0 20px;
            color: white;
            font-size: 20px;
          "
          placeholder="Search for movies, TV shows..."
        />
        <img
          id="avatar"
          src="{{ url_for('static', filename='img/ratingpage/avatar.png') }}"
          alt=""
          style="
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-left: 20px;
          "
        />
      </div>

      <div
        class=""
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 90%;
        "
      >
        <img
          src="{{ url_for('static', filename='img/ratingpage/ToyStoryLogo.png') }}"
          alt=""
        />
        <div
          class=""
          style="
            display: flex;
            color: rgba(255, 255, 255, 0.8);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 457;
            line-height: normal;
            justify-content: center;
            align-items: center;
          "
        >
          <div class="">Drama</div>
          <div
            class=""
            style="
              width: 2px;
              height: 2px;
              border-radius: 100%;
              background-color: white;
              margin: 0 10px 0 10px;
            "
          ></div>
          <div class="">Adventure</div>
          <div
            class=""
            style="
              width: 2px;
              height: 2px;
              border-radius: 100%;
              background-color: white;
              margin: 0 10px 0 10px;
            "
          ></div>
          <div class="">7h 28m</div>
        </div>
        <div class="" style="display: flex; margin-top: 30px">
          <button
            style="
              border-radius: 40px;
              border: 1px solid rgba(255, 255, 255, 0.2);
              background: rgba(255, 255, 255, 0.9);
              backdrop-filter: blur(20px);
              width: 160px;
              height: 50px;
              color: #262626;
              font-family: Inter;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              src="{{ url_for('static', filename='img/ratingpage/solar_heart-outline.svg') }}"
              alt=""
              style="margin-right: 10px"
            />
            Rating
          </button>
          <div
            class=""
            style="
              display: flex;
              flex-direction: column;
              margin-left: 40px;
              justify-content: center;
              align-items: center;
            "
          >
            <div class="ratingStar">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label
                  for="star5"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star4.5"
                  name="rating"
                  value="4.5"
                /><label for="star4.5" class="half"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label
                  for="star4"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star3.5"
                  name="rating"
                  value="3.5"
                /><label for="star3.5" class="half"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label
                  for="star3"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star2.5"
                  name="rating"
                  value="2.5"
                /><label for="star2.5" class="half"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label
                  for="star2"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star1.5"
                  name="rating"
                  value="1.5"
                /><label for="star1.5" class="half"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label
                  for="star1"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star0.5"
                  name="rating"
                  value="0.5"
                /><label for="star0.5" class="half"></label>
              </fieldset>
            </div>
            <h2 id="ratingText"></h2>
            <!-- <div
              class=""
              style="
                color: #fff;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
              "
            >
              3.0/ 10 votes
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div
      class=""
      style="
        display: flex;
        flex-direction: column;
        width: 90%;
        height: max-content;
        justify-content: start;
        align-items: start;
        margin: auto;
      "
    >
      <div
        class=""
        style="
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        "
      >
        More Like this
      </div>
      <div
        class=""
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          overflow-x: scroll;
        "
      >
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 4.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40245.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40246.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40247.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40248.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 4.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40245.png') }}"
          alt=""
        />
      </div>
      <div
        class=""
        style="
          color: #e8e8e8;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          width: 100%;
          border-top: 1px solid rgba(232, 232, 232, 0.25);
          margin-top: 30px;
          padding: 10px 0 10px 0;
        "
      >
        Balto :
        <p
          style="
            color: #3dd2cc;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 5px;
          "
        >
          Adventure | Animation | Children
        </p>
      </div>
      <div
        class=""
        style="
          color: #e8e8e8;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          border-top: 1px solid rgba(232, 232, 232, 0.25);
          width: 100%;
          padding: 10px 0 10px 0;
        "
      >
        Kids of the Round Table :
        <p
          style="
            color: #3dd2cc;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 5px;
          "
        >
          Adventure | Children | Comedy | Fantasy
        </p>
      </div>
      <div
        class=""
        style="
          color: #e8e8e8;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          border-top: 1px solid rgba(232, 232, 232, 0.25);
          width: 100%;
          padding: 10px 0 10px 0;
        "
      >
        Far From Home :
        <p
          style="
            color: #3dd2cc;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 5px;
          "
        >
          AThe Adventures of Yellow: Adventure | Children
        </p>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $('input[name="rating"]').on("click", function () {
        var selectedValue = $(this).val();
        $("#ratingText").html(selectedValue + " out of 5");
        // Store data vào database
        // $('#rateValue').text(selectedValue);
        // console.log(selectedValue);
      });
    });
  </script>
</html>
