<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-ratingpage.css') }}"
    />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body style="background-color: #111">
    <div
      class=""
      style="
        width: 100%;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.37) 60.89%,
            #111 100.15%
          ),
          url('../static/img/ratingpage/toy-story-newsletter_1200x800_0000_button-01-1.jpg'),
          lightgray 0px -27.139px / 100% 99.272%;
        max-height: 80vh;
        height: 80vh;
        background-repeat: no-repeat;
        background-size: 100% 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div
        class=""
        style="
          display: flex;
          width: 100%;
          height: max-content;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
        "
      >
        <input
          id="searchInput"
          type="text"
          style="
            border-radius: 30px;
            background: #292929;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
            width: 50%;
            height: 50px;
            padding: 0 20px 0 20px;
            color: white;
            font-size: 20px;
          "
          placeholder="Search for movies, TV shows..."
        />
        <ul id="suggestionsList"></ul>
        <img
          id="avatar"
          src="{{ url_for('static', filename='img/ratingpage/avatar.png') }}"
          alt=""
          style="
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-left: 20px;
          "
        />
      </div>

      <div
        class=""
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 90%;
        "
      >
        <img
          src="{{ url_for('static', filename='img/ratingpage/ToyStoryLogo.png') }}"
          alt=""
        />
        <div
          class=""
          style="
            display: flex;
            color: rgba(255, 255, 255, 0.8);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 457;
            line-height: normal;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
          "
        >
          <h2 style="color: white">{{result[0].title}} :&nbsp;</h2>
          <h2 style="color: #3dd2cc">{{result[0].genres}}</h2>
          <div id="id_movie" style="display: none">{{result[0].movieId}}</div>
          <!-- <div class="">Drama</div>
          <div
            class=""
            style="
              width: 2px;
              height: 2px;
              border-radius: 100%;
              background-color: white;
              margin: 0 10px 0 10px;
            "
          ></div>
          <div class="">Adventure</div>
          <div
            class=""
            style="
              width: 2px;
              height: 2px;
              border-radius: 100%;
              background-color: white;
              margin: 0 10px 0 10px;
            "
          ></div>
          <div class="">7h 28m</div> -->
        </div>
        <div class="" style="display: flex; margin-top: 20px">
          <button
            id="btn-rating"
            style="
              margin-bottom: 30px;
              border-radius: 40px;
              border: 1px solid rgba(255, 255, 255, 0.2);
              background: rgba(255, 255, 255, 0.9);
              backdrop-filter: blur(20px);
              width: 160px;
              height: 50px;
              color: #262626;
              font-family: Inter;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              src="{{ url_for('static', filename='img/ratingpage/solar_heart-outline.svg') }}"
              alt=""
              style="margin-right: 10px"
            />
            Rating
          </button>
          <div
            class=""
            style="
              display: flex;
              flex-direction: column;
              margin-left: 40px;
              justify-content: center;
              align-items: center;
            "
          >
            <div class="ratingStar">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label
                  for="star5"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star4.5"
                  name="rating"
                  value="4.5"
                /><label for="star4.5" class="half"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label
                  for="star4"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star3.5"
                  name="rating"
                  value="3.5"
                /><label for="star3.5" class="half"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label
                  for="star3"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star2.5"
                  name="rating"
                  value="2.5"
                /><label for="star2.5" class="half"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label
                  for="star2"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star1.5"
                  name="rating"
                  value="1.5"
                /><label for="star1.5" class="half"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label
                  for="star1"
                  class="full"
                ></label>
                <input
                  type="radio"
                  id="star0.5"
                  name="rating"
                  value="0.5"
                /><label for="star0.5" class="half"></label>
              </fieldset>
            </div>
            <h2 id="ratingText"></h2>
            <!-- <div
              class=""
              style="
                color: #fff;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
              "
            >
              3.0/ 10 votes
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div
      class=""
      style="
        display: flex;
        flex-direction: column;
        width: 90%;
        height: max-content;
        justify-content: start;
        align-items: start;
        margin: auto;
      "
    >
      <div
        class=""
        style="
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        "
      >
        More Like this
      </div>
      <div
        class=""
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          overflow-x: scroll;
        "
      >
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 4.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40245.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40246.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40247.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40248.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 4.png') }}"
          alt=""
        />
        <img
          src="{{ url_for('static', filename='img/ratingpage/Rectangle 40245.png') }}"
          alt=""
        />
      </div>
      <div
        class=""
        style="
          color: #e8e8e8;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          width: 100%;
          border-top: 1px solid rgba(232, 232, 232, 0.25);
          margin-top: 30px;
          padding: 10px 0 10px 0;
        "
      >
        Balto :
        <p
          style="
            color: #3dd2cc;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 5px;
          "
        >
          Adventure | Animation | Children
        </p>
      </div>
      <div
        class=""
        style="
          color: #e8e8e8;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          border-top: 1px solid rgba(232, 232, 232, 0.25);
          width: 100%;
          padding: 10px 0 10px 0;
        "
      >
        Kids of the Round Table :
        <p
          style="
            color: #3dd2cc;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 5px;
          "
        >
          Adventure | Children | Comedy | Fantasy
        </p>
      </div>
      <div
        class=""
        style="
          color: #e8e8e8;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          border-top: 1px solid rgba(232, 232, 232, 0.25);
          width: 100%;
          padding: 10px 0 10px 0;
        "
      >
        Far From Home :
        <p
          style="
            color: #3dd2cc;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 5px;
          "
        >
          AThe Adventures of Yellow: Adventure | Children
        </p>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $('input[name="rating"]').on("click", function () {
        var selectedValue = $(this).val();
        $("#ratingText").html(selectedValue + " out of 5");
        // Store data vào database
        // $('#rateValue').text(selectedValue);
        // console.log(selectedValue);
      });

      $("#btn-rating").click(function () {
        var user_id = localStorage.getItem("id");
        var rating_movie = $('input[name="rating"]').val();
        var id_movie = $("#id_movie").text();
        var arr_movieId = [];
        var arr_rating = [];
        if (rating_movie == 0) {
          alert("Bạn cần đánh giá phim trước");
        }
        var exist = false;
        for (var i = 1; i < localStorage.length; i++) {
          var key = localStorage.key(i);
          var value = localStorage.getItem(key);
          console.log(key, value);
          value = value.split("|");
          arr_movieId.push(parseInt(value[0]));
          arr_rating.push(parseFloat(value[1]));
          if (value[0] == id_movie) {
            localStorage.setItem(i.toString(), id_movie + "|" + rating_movie);
            exist = true;
          }
        }
        if (!exist) {
          localStorage.setItem(
            (localStorage.length + 1).toString(),
            id_movie + "|" + rating_movie
          );
          let value = localStorage.getItem(localStorage.length.toString());
          value = value.split("|");
          arr_movieId.push(parseInt(value[0]));
          arr_rating.push(parseFloat(value[1]));
        }
        if (localStorage.length + 1 < 3) {
          alert("Bạn cần đánh giá đủ 2 bộ phim để có thể nhận được đề xuất");
          return;
        }
        function openPopup(data) {
          // Tạo chuỗi HTML từ mảng đối tượng
          var moviesList = data
            .map((movie) => `<p>${movie.title}</p>`)
            .join(", ");

          // Tạo nội dung của popup
          var popupContent = `
            <div>
              <h2>Chúng tôi đề xuất cho bạn những phim:</h2>
              ${moviesList}
            </div>
          `;

          // Sử dụng window.open() để mở popup
          var popupWindow = window.open("", "Popup", "width=400, height=300");

          // Thêm nội dung vào popup
          popupWindow.document.write(popupContent);
        }
        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:5000/recommendation",
          contentType: "application/json", // Thêm header Content-Type
          data: JSON.stringify({
            userid: user_id,
            movieid: arr_movieId,
            rating: arr_rating,
          }),
          success: function (response) {
            // Hiển thị kết quả trả về từ server
            var moviesList = JSON.parse(response)
              .map((movie) => `${movie.title}`)
              .join(", ");
            alert("Chúng tôi đề xuất cho bạn những bộ phim: " + moviesList);
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      });

      var $searchInput = $("#searchInput");
      var $suggestionsList = $("#suggestionsList");

      $("#searchInput").focus(function () {
        $(this).css("border-radius", "0 0 5px 5px");
        $suggestionsList.css("display", "block");
      });

      $searchInput.on("blur", function () {
        $(this).css("border-radius", "30px");
        // Delay 200ms để kiểm tra xem đã click vào li chưa
        setTimeout(function () {
          if (!$suggestionsList.is(":focus-within")) {
            $suggestionsList.css("display", "none");
          }
        }, 200);
      });

      $searchInput.on("input", async function () {
        $suggestionsList.html("");
        if ($searchInput.val() == "") {
          return;
        }

        var suggestions = await fetch(
          `http://127.0.0.1:5000/search?str=${encodeURIComponent(
            $searchInput.val()
          )}`
        );
        var data = await suggestions.json();

        data.forEach(function (suggestion) {
          var $li = $("<li>")
            .text(suggestion.title)
            .data("movie-id", suggestion.movieId); // Lưu trữ movieId trong data attribute
          $suggestionsList.append($li);

          $li.on("click", function () {
            var movieId = $(this).data("movie-id");
            window.location.href = "/ratingpage?movie_id=" + movieId;
            console.log("Clicked on LI:", $(this).text());
          });
        });
      });
    });
  </script>
</html>
